{% extends "master_page.liquid" %}
{% block head %}
  <title> Email Verified </title>
{% endblock %}
{% block content %}
  Hi {{ model }}, Your email address has been verified. 
  Now you can <a href="/login">login</a>!
{% endblock %}